*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #202225;
  padding: 2rem;
  min-height: 100vh;
  width: 100%;
  color: #fff;
}

.pokeTitle{
  color: #fff;
  text-align: center;
}

h1{
  margin-bottom: 30px;
  font-size: 3rem;
}